<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HELLO WORLD</title>
</head>
<body>
<div class="posts">
    <% post.forEach(i => { %>
        <div class="title">
            <a href="/post/<%=i._id%>"><%= i.title %></a>
        <div id="post-<%= i._id %>" class="post">
            <div class="body">
                <p><%= i.body %></p>
            </div>
        </div>
    </div>
</div>
    <% } ) %>
</body>
</html>