<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../partials/head', {css: 'index.css'}}%>
</head>
<body>
    <%-include('../components/navbar.ejs', {email: user.email})%>
<div class="posts">
    <% post.forEach(i => { %>
    <%-include('../partials/post', {post: i, showButton: showButton })%>     
</div>
    <% } ) %>
</body>
</html>